@import "tailwindcss";
@source "../../**/*.tsx";
@source "../../i18n/**/*.ts";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
